

.contacts {
    width: 800px;
    font-family: "Open Sans";
}

.contacts__wrapper { margin-left: 25px; }

.contacts__contact {
    padding: 5px 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.contacts__contact a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.contacts__contact a:hover {
    color: black;
}

.contacts__contact:nth-child(1),
.contacts__contact:nth-child(2) {
    cursor: auto;
}
.contacts__contact:nth-child(1) {
    margin-left: 0;
    padding-left: 0;
}

.contacts__contact:first-child { margin-left: 0; }