

.header {
    margin-top: 0;
    opacity: 0;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 300;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.header b { font-weight: 600; }

.header #s1,
.header #s2,
.header #s3 {
    opacity: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.header #s3 { font-size: 18px; }

.header__wrapper {
    width: 800px;
    padding: 40px 0;
    padding-right: 300px;
    box-sizing: border-box;
    margin: 0 auto;
}