

.header {
    margin-top: 0;
    width: 100%;
    font-family: 'Open Sans';
}

.header b { font-weight: 600; }

.header #s1,
.header #s2 { font-size: 32px; }

.header #s3 {
    font-size: 18px;
    margin-top: 20px;
    display: block;
}
.header #s1 { font-weight: 300; }

.header__wrapper {
    width: 800px;
    padding: 40px 0;
    padding-right: 300px;
    box-sizing: border-box;
    margin: 0 auto;
}