
.labelbox {
    color: black;
    font-family: "Open Sans";
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.labelbox.labelbox_small {
    font-size: 19px;
}

.labelbox.labelbox_middle {
    font-size: 19px;
}

.labelbox.labelbox_large {
    font-size: 18px;
}

.labelbox.white { color: white; }

.labelbox.labelbox_4a86e8 { background-color: transparent; }
.labelbox.labelbox_888888 { background-color: transparent; }