
.brief {
    width: 800px;
}

.brief__lwrapper,
.brief__rwrapper {
    display: inline-block;
    vertical-align: top;
}

.brief__rwrapper { 
    width: 480px;
    margin-left: 37px;
}

.brief__phwrapper {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.brief__phwrapper:before,
.brief__phwrapper:after {
    opacity: 0;
    position: absolute;
    transition: all .25s;
}

.brief__phwrapper:before {
    content: "";
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-color: black;
}

.brief__phwrapper:after {
    content: "+ Открыть полный размер";
    top: 50%;
    left: 50%;
    margin-left: -95px;
    margin-top: -7px;
    font-family: "Open Sans";
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.brief__phwrapper:hover:before,
.brief__phwrapper:hover:after {
    opacity: 1;
}

.brief__fullname,
.brief__occupation,
.brief__about { 
    font-family: "Open Sans";
}

.brief__occupation {
    padding: 10px 0;
    font-size: 19px;
}

.brief__occupation ul {
    margin: 0;
    padding: 0;
}

.brief__occupation ul li { 
    list-style: none;
    padding: 3px 0;
}

.brief__about {
    margin-top: 8px;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.brief__text {
    margin-top: 8px;
    line-height: 1.2;
}

.brief__text p:last-child {
    margin-top: 29px;
}

.brief__text b { font-weight: 700; }

.brief__fullname {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}