
.brief {
    width: 800px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.4;
}

.brief p { margin-left: 25px; }

.brief__lwrapper,
.brief__rwrapper {
    display: inline-block;
    vertical-align: middle;
}

.brief__rwrapper {
    position: relative;
    width: 400px;
    margin-left: 37px;
    color: black;
    box-sizing: border-box;
    border-radius: 4px;
}
 

.brief__phwrapper {
    width: 265px;
    height: 550px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.brief__phwrapper:before,
.brief__phwrapper:after {
    opacity: 0;
    position: absolute;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
}

.brief__phwrapper:before {
    content: "";
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-color: black;
}

.brief__phwrapper:after {
    content: "+ Открыть полный размер";
    top: 50%;
    left: 50%;
    margin-left: -95px;
    margin-top: -7px;
    font-family: "Open Sans";
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.brief__phwrapper:hover:before,
.brief__phwrapper:hover:after {
    opacity: 1;
}

.brief__occupation {
    padding: 10px 0;
}

.brief__occupation ul {
    margin: 0;
    padding: 0;
}

.brief__occupation ul li { 
    list-style: none;
    padding: 10px;
    background: #ddd;
    margin: 10px 5px 0 0;
    display: inline-block;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
}

.brief__about {
    margin-top: 8px;
    font-size: 16px;
    color: white;
}

.brief__text {
    margin-top: 8px;
    line-height: 1.2;
}

.brief b { font-weight: 700; }